@import "compass/css3";


*{
    margin:0;
    padding:0;
}

.ban{
    background-image: url("../img/coffee.jpg");
     width:100%;
    background-size:cover;

} 

.top{
    background-color:#000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width:100%;
    height:auto;
    
}
.tan{
    width:100%;
    position:fixed;
    background-attachment:fixed;
}
.logo{
    background:url("img/logo2.jpg");
    width:100;
    background-size:1px 1px;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    font-size:40px;
    padding:18px;

}
.menu{
    -webkit-flex:3;
    -ms-flex:3;
    -webkit-box-flex:3;
    flex:3;


}
.menu ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style:none;
    margin-top:30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}
.menu ul li{
    flex:1;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    text-align:center;


}
.menu ul li a{
color:#fff;
font-size:20px;
text-decoration:none;
}
.menu ul li a:hover{
    color: red;
    text-decoration: underline;
}
/*ban*/
.ban-text{
    margin-left:380px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding:15% 0;
}
.ban-text-items{
    margin-top:0;
    margin-left:150px;
    color:whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    margin:auto;
    text-align:center;
    width:50%;
}
.ban-text-items h2{

    margin-bottom: 20px;
    text-transform:uppercase;

}
/*main-content*/
.main-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding:5% 0;


}
.main1{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    padding:3%;
    text-align:center;


}
.main1 ul{
    list-style:none;
}
/*contact*/
.contact-items{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
     align-items:center;
     -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;

}
.contact{
    background:url("../img/niit.jpg");
    padding:0 0;
    z-index:1;
}
/*.contact:before{
    position:absolute;
content:'';
height:100%;
width:100%;
top:0;
bottom: 0;
left:0;
right:0;
background:rgba(0,0,0,0.5);
z-index:-1;

}*/
.contact-items h2{
color:blue;
font-size:40px;
margin-bottom:18px;
}
.contact-items input[type="text"]{
    border-radius:10px;
    margin-bottom:15px;
    padding:15px;
    width:50%;
}
.contact-items textarea{
    border-radius:10px;
    height:150px;
    padding:15px;
    width:50%;
}
.logo{
    /* width: 20px;
     height: 15px;*/
     padding-bottom:0px;
     padding-right:0px;
 }
 
     .logo img{
         height:60px;
         width:150px;
     }
.contact-items a{
    background:orange;
    color:#fff;
    display:inline-block;
    font-size: 15px;
    margin-top:25px;
    padding: 15px 80px;
    text-decoration:none;
    text-transform: uppercase;

}
.contact-items a:hover{
    color:black;
    text-decoration: undrline;
}
.footer ul li {
    display:inline;
    text-decoration: none;

   }
   .footer
   {
    background-color:red;
   }
  
@media all and (max-width:600px){
    .top{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    text-align:center;


    }
    .logo{
       /* width: 20px;
        height: 15px;*/
        padding-bottom:0px;
        padding-right:0px;
    }
    
        .logo img{
            height:60px;
            width:100px;
        }
    .menu ul{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    margin-top:0;

    }
    .menu ul li{
        padding:5px;
    }
    .ban-text-items{
        width:100%;
    }
    .ban-text-items h2{
        font-size:1.5em;
    }
    .main-content{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;

    }
}
@media only screen and (min-width:320px) and (max-width:600px){

    .top{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    text-align:center;
    }
    .ban-text{
        margin-left: 0px;
    }
    .ban-text-items{
        width:100%;
        margin-top: 180px;
    }
    .ban-text-items h2{
        font-size:1.5em;
    }
    .logo{
        /* width: 20px;
         height: 15px;*/
         padding-bottom:0px;
         padding-right:0px;
     }
     
         .logo img{
             height:60px;
             width:100px;
         }
    /*.logo{
        padding:18px 0 0;
    }*/
    .menu ul{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    margin-top:0;

    }
    .menu ul li{
        padding:5px;
    }
    .ban-text-items{
        width:100%;
    }
    .ban-text-items h2{
        font-size:1.5em;
    }
    .main-content{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;

    }
    

@media only screen and (max-width:800px){
    .top{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    text-align:center;


    }
    .logo{
        padding:18px 0 0;
    }
    .menu ul{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    margin-top:0;

    }
    .menu ul li{
        padding:5px;
    }
    
    .main-content{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;

    }
}
}