*{
    margin:0;
    padding:0;
}

.ban{
    background-image: url("img/coffee.jpg");
     width:100%;
    background-size:cover;

} 

.top{
    background-color:#000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width:100%;
    height:auto;
    
}
.tan{
    width:100%;
    position:fixed;
    background-attachment:fixed;
}
.logo{
    color:#fff;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    font-size:40px;
    padding:18px;

}
.menu{
    -webkit-flex:3;
    -ms-flex:3;
    -webkit-box-flex:3;
    flex:3;


}
.menu ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style:none;
    margin-top:30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}
.menu ul li{
    flex:1;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    text-align:center;


}
.menu ul li a{
color:#fff;
font-size:20px;
text-decoration:none;
}
.menu ul li a:hover{
    color: red;
    text-decoration: underline;
}
/*ban*/
.ban-text{
    margin-left:380px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding:15% 0;
}
.ban-text-items{
    margin-top:0;
    margin-left:150px;
    color:whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    margin:auto;
    text-align:center;
    width:50%;
}
.ban-text-items h2{

    margin-bottom: 20px;
    text-transform:uppercase;

}
/*main-content*/
.main-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding:5% 0;


}
.main1{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    padding:3%;
    text-align:center;


}
.main1 ul{
    list-style:none;
}
/*contact*/
.contact-items{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
     align-items:center;
     -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;

}
.contact{
    background:url("img/niit.jpg");
    padding:0 0;
    position:relative;
    z-index:1;
}
.contact:before{
position:absolute;
content:'';
height:100%;
width:100%;
top:0;
bottom: 0;
left:0;
right:0;
background:rgba(0,0,0,0.5);
z-index:-1;

}
.contact-items h2{
color:blue;
font-size:40px;
margin-bottom:18px;
}
.contact-items input[type="text"]{
    border-radius:10px;
    margin-bottom:15px;
    padding:15px;
    width:50%;
}
.contact-items textarea{
    border-radius:10px;
    height:150px;
    padding:15px;
    width:50%;
}
.contact-items a{
    background:orange;
    color:#fff;
    display:inline-block;
    font-size: 15px;
    margin-top:25px;
    padding: 15px 80px;
    text-decoration:none;
    text-transform: uppercase;

}
.contact-items a:hover{
    color:black;
    text-decoration: undrline;
}
.footer {
    margin-top:100px;
    position: fixed;
    background-attachment:fixed;
     left: 0px;
     bottom: 0px;
     right:0px;
     width: 100%;
     
     background-color: red;
     color: white;
     text-align: center;
   }

 

  
@media all and (max-width:600px){
    .top{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    text-align:center;


    }
    .logo{
        padding:18px 0 0;
    }
    .menu ul{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    margin-top:0;

    }
    .menu ul li{
        padding:5px;
    }
    .ban-text-items{
        width:100%;
    }
    .ban-text-items h2{
        font-size:1.5em;
    }
    .main-content{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;

    }
}
/*@media all and (max-width:320px){

    .top{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    text-align:center;


    }
    
    .logo{
        padding:18px 0 0;
    }
    .menu ul{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    margin-top:0;

    }
    .menu ul li{
        padding:5px;
    }
    .ban-text-items{
        width:100%;
    }
    .ban-text-items h2{
        font-size:1.5em;
    }
    .main-content{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;

    }
    */
}
@media all and (max-width:600px){
    .top{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    text-align:center;


    }
    .logo{
        padding:18px 0 0;
    }
    .menu ul{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;
    margin-top:0;

    }
    .menu ul li{
        padding:5px;
    }
    .ban-text-items{
        width:100%;
    }
    .ban-text-items h2{
        font-size:1.5em;
    }
    .main-content{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: coloumn;
    -ms-flex-direction: coloumn;
    flex-direction:column;

    }
}
